<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <property name="charset" value="UTF-8"/>

  <!-- Trailing spaces -->
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>

  <!-- Double blank lines -->
  <module name="RegexpMultiline">
    <property name="format" value="\n\n\n"/>
    <property name="message" value="Double blank lines."/>
  </module>
  <module name="NewlineAtEndOfFile"/>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>

  <module name="TreeWalker">
    <module name="ParameterName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MethodName"/>

    <!-- Order -->
    <module name="InnerTypeLast"/>
    <module name="DeclarationOrder"/>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>

    <module name="OneTopLevelClass"/>
    <module name="NoLineWrap"/>
    <module name="EmptyBlock"/>
    <module name="Indentation"/>
    <module name="EmptyLineSeparator">
      <property name="allowNoEmptyLineBetweenFields" value="true"/>
    </module>

    <module name="AvoidEscapedUnicodeCharacters"/>
    <module name="NeedBraces"/>
    <module name="LeftCurly"/>
    <module name="RightCurly"/>
    <module name="LineLength">
      <property name="max" value="120"/>
      <property name="ignorePattern" value="^ *"/>
    </module>
    <module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
    </module>

    <module name="MissingSwitchDefault"/>
    <module name="FallThrough"/>
    <module name="GenericWhitespace"/>

    <!-- Style -->
    <module name="UpperEll"/>
    <module name="ArrayTypeStyle"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="OneStatementPerLine"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
  </module>
  <module name="SuppressionFilter">
    <property name="file" value="config/checkstyle/checkstyle-suppressions.xml"/>
  </module>
</module>
